{% extends "base.html" %}
{% block content %}

<div class="container founders center-align">
    <h3 class="founder-header">Your Founders</h3>
    <h5 class="founder-name">April & Toby Thompson</h5>
    <img src="https://i.pinimg.com/originals/cb/22/de/cb22deb9811d2b76411f7b79a160ba14.jpg" alt="">
    <h5 class="founder-misson">Our Mission</h5>
    <p> My Husband is gluten intolerant, but we love to cook and try new recipes. Cooking when restricted to a gluten
        free diet can be hard, but fear not!
        The Gluten Free Cookbook is a great way to join a community of other Gluten Free Cheifsm whether by choice or
        for dietary restrictions.
        We welcome all Gluten Free cheifs and we are excited to see what new recipes you guys come up with!
    </p>

<div>

{% endblock %}
