{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add a Recipe</h3>
<div class="container">
<div class="row card-panel">
	<form class="col s12" method="POST" action="#">
        <!-- recipe name -->
		<div class="row">
			<div class="input-field col s12">
				<input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                type="text" class="validate" required>
				<label for="recipe_name">Recipe Name</label>
			</div>
		</div>

        <!-- recipe description -->
		<div class="row">
			<div class="input-field col s12">
				<textarea id="recipe_description" name="recipe_description" minlength="5"
                 maxlength="200" class="materialize-textarea validate" required></textarea>
				<label for="recipe_description">Description</label>
			</div>
		</div>

        <!-- recipe serving size -->
		<div class="row">
			<div class="input-field col s12">
                <input type="number" id="serves" name="serves" min="01" max="10">
                <label for="serves">Serves (range from 0 to 10)</label>
			</div>
		</div>

        <!-- recipe total time -->
            <div class="row">
                <div class="input-field col s12">
                    <input type="time" id="time" name="time" class="form-control validate" required>
                    <label for="time">Total Time (HH:MM)</label>
                </div>
            </div>

        <!-- recipe ingredients -->
    <h6 class="center-align">Add your ingredients</h6>
	<div class="row">
        <div class="input-fieldcol s12 repeatable">
            <table>
                <tr>
                    <td>
                        <input type="text" name="ingredients" id="ingredients" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                    </td>
                </tr>
            </table>
            <button type="button" class="btn btn-primary btn-sm repeat">Add Another Ingredient</button>
        </div>
    </div>

        <!-- recipe directions -->
        <!-- repeatable onclick function from stackoverflow -->
	<h6 class="center-align">Add your directions</h6>
    <div class="row">
        <div class="input-field col s12 repeatable">
            <table>
                <tr>
                    <td>
                        <input type="text" name="directions" id="directions" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                    </td>
                </tr>
            </table>
            <button type="button" class="btn btn-primary btn-sm repeat">Add Another Direction</button>
        </div>
    </div>

        <!-- submit button -->
        <div class="col s12 center-align">
            <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                Add Recipe
            </button>
        </div>

	</form>
</div>
</div>
{%  endblock %}