{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Edit Recipe</h3>
<div class="row card-panel justify-content-md-center">
	<form class="col-sm-8" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <!-- recipe name -->
		<div class="row">
			<div class="input-group col s12">
				<input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                type="text" class="validate" value="{{ recipe.recipe_name }}" required>
				<label for="recipe_name">Recipe Name</label>
			</div>
		</div>

        <!-- recipe description -->
		<div class="row">
			<div class="input-group col s12">
				<textarea id="recipe_description" name="recipe_description" minlength="5"
                 maxlength="200" class="materialize-textarea validate" required>{{- recipe.recipe_description -}}</textarea>
				<label for="recipe_description">Description</label>
			</div>
        </div>

        <!-- recipe serving size -->
		<div class="row">
			<div class="input-group col s12">
                <input type="number" id="serves" name="serves" min="01" max="10" value="{{ recipe.serves }}">
                <label for="serves">Serves (range from 0 to 10)</label>
			</div>
		</div>

        <!-- recipe total time -->
            <div class="row">
                <div class="input-field col s6">
                    <input type="time" id="time" name="time" class="form-control validate" value="{{ recipe.time }}" required>
                    <label for="time">Total Time (HH:MM)</label>
                </div>
            </div>

        <!-- recipe ingredients -->
    <h6 class="center-align">Add your ingredients</h6>
	<div class="row">
        <div class="input-group col s6 repeatable">
            {% for ingredient in recipe.ingredients %}
            <table>
                <tr>
                    <td>
                        <input type="text" name="ingredients" id="ingredients" minlength="5"
                        maxlength="200" class="materialize-textarea validate" value="{{ ingredient }}" required>
                    </td>
                </tr>
            </table>
            {% endfor %}
            <button type="button" class="btn btn-primary btn-sm repeat">Add Another Ingredient</button>
        </div>
    </div>

        <!-- recipe directions -->
        <!-- repeatable onclick function from stackoverflow -->
	<h6 class="center-align">Add your directions</h6>
    <div class="row">
        <div class="input-group col s6 repeatable">
            {% for direction in recipe.directions %}
            <table>
                <tr>
                    <td>
                        <input type="text" name="directions" id="directions" minlength="5"
                        maxlength="200" class="materialize-textarea validate" value="{{ direction }}" required>
                    </td>
                </tr>
            </table>
            {% endfor %}
            <button type="button" class="btn btn-primary btn-sm repeat">Add Another Direction</button>
        </div>
    </div>

        <!-- submit button -->
        <div class="col s12 center-align">
            <a href="{{ url_for('recipes') }}" class="btn red">
                Cancel
            </a>
            <button type="submit" class="btn">
                Edit Recipe
            </button>
        </div>

	</form>
</div>
{%  endblock %}