{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
    {% if loop.index % 2 != 0 %}
    <div class="row justify-content-md-center">
    <div class="col-sm-5">
        <div class="card border-info">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                <p class="card-text">{{ recipe.recipe_description }}</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
                <p>Post Created By: <em>Enter Username Here</em></p> 
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-sm-5">
        <div class="card border-info">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                <p class="card-text">{{ recipe.recipe_description }}</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
                <p>Post Created By: <em>Enter Username Here</em></p> 
            </div>
        </div>
    </div>
    </div>

    {% endif %}
    {% endfor %}

{% endblock %}