{% extends "base.html" %}    
{% block content %}


    <!-- Preview all Recipes -->
    <h4 class="center-align">View All Recipes</h4>

    <div class="container">
        <div class="row justify-content-md-center" action="{{url_for('search') }}" method="POST">
            <form class="form-inline col-sm-8">
                <input class="form-control" type="text" aria-label="Search" name="query" id="query" minlength="3" validate>
                <label for="query">Search</label>
            </form>
            <div class="col-sm-2">
                <button class="btn" type="submit">Search</button>
                <a href="{{url_for('recipes') }}" class="btn">Reset</a>
            </div>
        </div>
    </div>

{% for recipe in recipes %}
    {% if loop.index % 2 != 0 %}
    <div class="row justify-content-md-center">
    <div class="col-sm-4">
        <div class="card border-info">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                <p class="card-text">{{ recipe.recipe_description }}</p>
                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="btn btn-primary">View Recipe</a>
                <p>Post Created By: <em>{{ recipe.created_by.title() }}</em></p> 
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-sm-4">
        <div class="card border-info">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                <p class="card-text">{{ recipe.recipe_description }}</p>
                <a href="{{ url_for('view_recipe', recipe_id=recipe._id)}}" class="btn btn-primary">View Recipe</a>
                <p>Post Created By: <em>{{ recipe.created_by.title() }}</em></p> 
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}

    {% endblock%}