{% extends "base.html" %}
{% block content %}

<div class="recipe-container">
    <div class="container view-header">
        <h3>{{ recipe.recipe_name }}</h3>
        <p id="view-description">{{ recipe.recipe_description }}</p>
        <p id="view-createdby">Post Created By: <em>{{ recipe.created_by.title() }}</em></p> 
    </div>

    <div class="container">
    <div class="row">
        <div class="col-sm outline">
            <div class="uppercase box">
                Serves
            </div>
            <div class="recipe-details">
            <p>{{recipe.serves}}</p>
            </div>
        </div>
        <div class="col-sm outline">
            <div class="uppercase box">
                Total Time
            </div>
            <div class="recipe-details">
                <p>{{recipe.time}}</p>
            </div>
        </div>
    </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-5">
            <h4 class="list_headers">Ingredients:</h4>
            <ul class="list-items">
                {% for ingredient in recipe.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
        
            </div>
            <div class="col-sm-4">
            <h4 class="list_headers">Directions:</h4>
            <ol class="list-items">
                {% for direction in recipe.directions %}
                    <li>{{direction}}</li>
                {% endfor %}
            </ol>
            </div>
        </div>
    </div>
</div>


{% endblock %}